alembic==1.18.1
click==8.1.7
cloudinary==1.44.1
flask==2.2.5
flask-admin==1.5.8
flask-bcrypt==1.0.1
flask-cors==6.0.2
flask-jwt-extended==4.7.1
flask-migrate==4.0.5
flask-sqlalchemy==2.5.1
flask-swagger==0.2.14
gunicorn==24.1.0
jinja2==3.0.3
pendulum==3.1.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
pytz==2025.2
setuptools<81
sqlalchemy==1.4.46
typing-extensions==4.15.0
wtforms==3.1.2
